<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="CustomerBean" class="br.samples.solutionbto.Customer">
		<constructor-arg>
			<bean class="br.samples.solutionbto.Person">
				<property name="name" value="Beto"/>
				<property name="address" value="SP" />
				<property name="age" value="32" />
			</bean>
		</constructor-arg>
	</bean>
	
</beans>
